{% extends "backadmin_base.html" %}
{% load upload_tags %}

{% block content %}
<input type="hidden" id="refresh" value="no">
<div class="container">
    <h1 id="h">File Upload    <img src='/static/img/loading.gif' id="loading_chakra" alt = "uploading..." height="30px" width="30px"/></h1><br/>
    <div class="input-group">
    	<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    	<input id="search" type="text" class="form-control" placeholder="Search for files..." />
    </div><hr />
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" method="post" action="." enctype="multipart/form-data">{% csrf_token %}

        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button" id="dev_up" hidden="true">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="file_upload" multiple id="file_in">
                </span>
                <!--button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button-->
                <!--button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button-->
                <button type="button" class="btn btn-danger delete" id="delete_all">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete all</span>
                </button>
                <span data-toggle="tooltip" title="" id="usb_span" data-placement="right">
                <button type="button" class="btn btn-primay start" id="usb" onclick="usbUpload()">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>USB upload</span>
                </button>
              </span>
                <button type="button" class="btn btn-primay start" id="usb_down" onClick="telemetry_transfer()">
                    <i class="glyphicon glyphicon-download"></i>
                    <span>USB download</span>
                </button>
                <!--input type="checkbox" class="toggle"-->
                <!-- The loading indicator is shown during file processing -->
                <span class="fileupload-loading"></span>
            </div>
            <!-- The global progress information -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files" id="files_table"></tbody></table>
    </form>
    <br>

</div>
<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
{% upload_js %}


<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->
<script src="/static/js/ajax-utils.js"></script>
<script src="/static/js/scripts.js"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/static/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="/static/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/static/js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="/static/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
 <script src="/static/js/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="/static/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/static/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/static/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/static/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/static/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="/static/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="/static/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="/static/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="/static/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="/static/js/main.js"></script>
<script src="/static/js/locale.js"></script>
<script src="/static/js/csrf.js"></script>
<script>
$(function() {
    $("#telemetry_progress").hide();
    $("#loading_chakra").hide();
    $.getJSON('../verify_USB/', function (response) {
            var obj = JSON.parse(JSON.stringify(response));
            document.getElementById("usb").setAttribute("class", "btn btn-primay start " + obj.data);
            if (obj.data == 'disabled') {
            	document.getElementById("usb_span").setAttribute("title", "Please insert USB device and refresh");
              document.getElementById("usb").setAttribute("onclick", "javascript:void(0);");
            	$('[data-toggle="tooltip"]').tooltip();
            }
        });
    $.getJSON('../verify_USB2/', function(response) {
      var obj = JSON.parse(JSON.stringify(response));
      if (obj['value'] == 'null') {
        console.log(obj['value']);
        document.getElementById("usb_down").setAttribute("class", "btn btn-primay start disabled");
        document.getElementById("usb_down").setAttribute("onclick", "javascript:void(0);");
      }
    })
    $.getJSON('../return_exts/', function(response) {
        var ob = JSON.parse(JSON.stringify(response));
        var exts = ob['exts'];
       // alert(exts);
        var extstring = '';
        for (var i = 0; i < exts.length; i++) {
            extstring = extstring.concat(', ', exts[i]);
        }
        extstring = extstring.substring(2, extstring.length);
        document.getElementById("file_in").setAttribute("accept", extstring);

    });
    $("#search").keyup(function() {
    	var searchString = $("#search").val();
    	filter_table(searchString.toLowerCase());
    });
});

function telemetry_transfer() {
  $('#loading_chakra').show();
  $.getJSON('/upload/download_to_USB', function (response) {
    var ob = JSON.parse(JSON.stringify(response));
    alert(ob['res']);
  $('#loading_chakra').hide();
  });
}

function usbUpload() {
  $('#loading_chakra').show();
  $.getJSON('/upload/transfer', function(response) {
    var ob = JSON.parse(JSON.stringify(response));
    switch(ob['result']) {
      case 'ok' : alert('Successful!');
                  break;
      case 'notok' : alert('Transfer failure!');
                     break;
      case 'notok2' : alert("Corrupt ecar file encountered!");
                      break;
      default: alert('Unexpected error occured!');
    }
    window.location.reload();
  });
}
/*
function telemetry_transferx() {
    var loop = true;
    $('#telemetry_form').submit({
        url : '/upload/download_to_USB/',
        type : "POST",
        method : "POST",
        datatype : 'json',
        data : {'val':'INIT'},
        success : function(resp) {
            $("#progress_outer").show();
            var z = JSON.parse(JSON.stringify(resp));
            var fileLength = parseInt(z.length);
            var i = 0;
            var current = parseInt(z.value) + 1;
            var maximum = parseInt(z.length);
            for (; i < fileLength; i++) {
                document.getElementById("counter").setAttribute("value", current);
                var percent = current/maximum*100;
                var pbar = document.getElementById("progress_inner");
                pbar.setAttribute("style", "width:"+percent.toString()+"%");
                pbar.innerHTML = percent.toString()+"%";
                $('#telemetry_form').submit({
                    url : 'download_to_USB/',
                    datatype : 'json',
                    type : "POST",
                    method : "POST",
                    data : {'val' : document.getElementById("counter").getAttribute("value")},
                    success : function(resp) {
                        z = JSON.parse(JSON.stringify(resp));
                        if (z.value == null) {
                            //document.getElementById("usb_text").innerHTML = z.res;
                            loop = false;
                            return;
                        }
                        else {
                            current = parseInt(z.value);
                        }
                    }
                });
                if (!(loop)) {
                    $("#progress_outer").hide();
                    return;
                }
            }
        }
    });

}
*/
function filter_table(string) {
  var table = document.getElementById("files_table");
  if (table != null) {
    file_rows = table.childNodes;
    for (var i = 0; i < file_rows.length; i++) {
      var row = file_rows[i];
      name = row.getAttribute('id').toLowerCase();
      if (name.substring(name.lastIndexOf('/'), name.length).search(string) != -1) {
        $(row).show();
      }
      else {
        $(row).hide();
      }
    }
  }
}
</script>

{% endblock %}
