<!DOCTYPE HTML>
<html>
<head>
<title>File Upload Login</title>
<link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="login-page">
    <form  class="form" action="{% url 'fileupload:verify' %}" method="post">
    {%csrf_token%}
     {% if invalid %}
           <p>{{invalid}}</p>
     {% endif %}
      <input type="text" id="email" name="email" placeholder="username">
      <br>
      <input type="password" id="password" name="password" placeholder="password">
      <br>
      <button type="submit">Login</button>
      <div class="container">
        <img src="/static/logo.png" alt="logo"/>
      </div>
    </form>
</div>
</body>
</html>

