<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Captive Portal</title>
</head>
<body>
	<h1 align='center'>Welcome!</h1>
	<div class = 'container' align='CENTER'>
	{% if logo %}
		<img src= '{% static "changecaptive/logo.png" %}' ><hr />
	{% endif %}
		<p><h3><b>{{ heading_text }}</b></h3></p><hr />
		<p>{{ body_text }}</p>
	{% if apk %}
	<a href = '{% static "changecaptive/app.apk" %}' target='_blank'>
		<btn class = "btn btn-info">
			<i class='glyphicon glyphicon-download'></i>
			<span>Download our APK</span>
		</btn>
	</a>
	{% endif %}
	</div>
</body>
</html>