{% extends "backadmin_base.html" %}


{% block content %}
<div class="container">	

	<h1 align='CENTER'>Customize Captive Portal</h1>
	<div class="alert alert-success" id="pinut-successAlert">
    		<strong>Success!</strong> Uploads are successful.
  	</div>

	<input type="file" accept=".png" class="filestuff" id="name" form="formdata">
	<input type="file" accept=".apk" class="filestuff" id="name_apk" form="formdata">
	<button class = "btn btn-success" id="files_add" onclick="openFiles()">
       	<i class="glyphicon glyphicon-plus"></i>
       	<span>Add logo</span>
	</button>
	<div id="pic_thumbnail" href=""></div><p id="logo_name">No file chosen</p>
	<br /><hr/>
		<form id='formdata' method='POST' action='change_data/' enctype='multipart/form-data'>
	{% csrf_token %}
    	<label for="title">Set heading</label>
    	<input type="text" class="form-control" id="title" name="title"><br />
    	<label for="desc">Set text description</label>
    	<textarea class="form-control" rows="10" id="description" name="description"></textarea>
    </form>
    <hr/>
    <button class = "btn btn-success" id="files_add" onclick="openFilesForApk()">
       	<i class="glyphicon glyphicon-plus"></i>
       	<span>Select APK for user to download</span>
	</button>
	<p id="logo_name_apk">No file chosen</p>
	<div class="alert alert-info" id="pinut-infoAlert">
    		<strong>Uploading...!!</strong> Upload in progress.
  	</div>
	<hr/>
	<div align="CENTER">
		<button class = "btn btn-info" id="upload_creds" onclick="sendstuff()">
		<i class="glyphicon glyphicon-ok"></i>
		<span>Update Captive Portal!</span>
		</button>
	</div>
	{% if status_text %}
		<p align='CENTER'>Successful updation of captive portal! <a href='http://captive.openrap.com' target='_blank'>Click here</a> to see it.</p>
	{% endif %}
	{% if fail_text %}
		<p align='CENTER'>{{ fail_text }}</p>
	{% endif %}
</div>
 <script src="/static/js/bootstrap.min.js"></script>
<!-- The file upload script -->

<style>
	.filestuff {
		opacity: 0;
	}
</style>
<script type="text/javascript">

	function returnName(filename) {
		var positionOfSlash = filename.lastIndexOf('/');
		if (positionOfSlash == -1) {
			positionOfSlash = filename.lastIndexOf('\\');
		}
		return filename.slice(positionOfSlash + 1);
	}
	function openFiles() {
		$("#name").trigger('click');
		document.getElementById('name').onchange = function() {
			document.getElementById('logo_name').innerHTML = returnName(this.value);
			var fr = new FileReader();
			fr.onload = function(e) {
				document.getElementById('pic_thumbnail').innerHTML = '<hr>Preview:<hr><br><img src = "' + e.target.result + '" height="135px" width="180px">'
			}
			fr.readAsDataURL(this.files[0]);
		};
	};
	function openFilesForApk() {
		$("#name_apk").trigger('click');
		document.getElementById('name_apk').onchange = function() {
			document.getElementById('logo_name_apk').innerHTML = returnName(this.value);
		};
	};


</script>
<script>
$('#pinut-successAlert').hide();
$('#pinut-infoAlert').hide();
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

	function sendfile(file, destination,cb) {
		$.ajax({
			type: 'post',
			url: destination,
			data: file,
			processData: false,
			contentType: false,
			success: function(data) {
				//alert('Uploaded!');
				cb();
			} 
		});
	};

	function sendstuff() {
	//	var logofile = document.getElementById('name').files[0];
	//	alert(logofile);
	//	sendfile(logofile, 'change_logo/');
		$('#pinut-infoAlert').show();
	/* 
		Added chaining to handle async stuff.
		TODO: add way to provide user feedback
	*/
		if (document.getElementById("logo_name").innerHTML != 'No file chosen') {
			var logofile = document.getElementById('name').files[0];
			console.log("logo:", logofile);
			sendfile(logofile, 'change_logo/',function(){
				if (document.getElementById("logo_name_apk").innerHTML != 'No file chosen') {
					var apkfile = document.getElementById('name_apk').files[0];
					sendfile(apkfile, 'change_apk/',function(){
						document.getElementById('formdata').submit();
						
					});
				}else{
					document.getElementById('formdata').submit();
				}					
			});
		}
		else if (document.getElementById("logo_name_apk").innerHTML != 'No file chosen') {
			var apkfile = document.getElementById('name_apk').files[0];
			sendfile(apkfile, 'change_apk/',function(){
				document.getElementById('formdata').submit();
			
			});
		}else{
		document.getElementById('formdata').submit();
			
		}
		//document.getElementById('formdata').submit();
	};

$('form').submit(function(e){
    e.preventDefault();
    var form_data = new FormData(this); 

    $.ajax({
        type: 'post',
        url: 'change_data/',
        data: form_data,
        cache: false,
        contentType: false,
        processData: false,
        success: function(answ){
            var data = JSON.parse(JSON.stringify(answ));
	    $('#pinut-successAlert').show();
		$('#pinut-infoAlert').hide();
            alert(data.ok);
        }
    });
});
</script>

{% endblock %}
