{% extends "backadmin_base.html" %}

{% block content %}

<div class = "container">
	<form id="submit_form" name="submit_form" action="update_data/" method="POST">
		{% csrf_token %}
		{% for var, value in var_dict.items %}
			<label for="textinput-{{ var }}">{{ var }}</label><br />
			<input type="text" id="textinput-{{ var }}" name="textinput-{{ var }}" placeholder = "Currently:{{ value }}" class = "form-control"><br />
		{% endfor %}
	</form>
	<button onclick="update()" class = "btn btn-primary">Update Variables</button>
</div>
 <script src="/static/js/bootstrap.min.js"></script>
<script>
$(function() {
	if ('{{ message }}' != 'ok') {
		alert('{{ message }}');
	}
	document.getElementById('textinput-profile_name').setAttribute("disabled", true);
});
function update () {
	document.getElementById("submit_form").submit();
}
</script>

{% endblock %}