<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Administration</title>
    <!-- JQuery -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
     <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body style="padding-top: 0px">
<div style="margin-top: 0px">
	<img src="/static/logo.png" alt="logo"/>
</div>
<nav class = "navbar navbar-inverse">
	<ul class = "navbar navbar-nav">
		<li class="dropdown">
			<a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="javascript:void(0);">
				User: <span id="username"></span>
				<span class = "glyphicon glyphicon-menu-hamburger"></span>
			</a>
			<ul class = "dropdown-menu" id="dropdown">
                <li id = "file_upload" ><a href="{% url 'fileupload:upload-new' %}">File Upload</a></li>
                <li id = "file_upload_bar" class="divider"></li>
                <li id = "ssid_mod" style="display:none;"><a href="{% url 'ssidmod:index' %}">SSID Modification</a></li>
                <li id = "ssid_mod_bar" class="divider" style="display:none;"></li>
                <li id = "captive_mod" style="display:none;"><a href="{% url 'changecaptive:index' %}">Captive Portal Modification</a></li>
                <li id = "captive_mod_bar" class="divider" style="display:none;"></li>
                <li id = "change_vars" style="display:none;"><a href="{% url 'changevars:loadpage' %}">Change Global Variables</a></li>
                <li id = "change_vars_bar" class = "divider" style="display:none;"></li>
                <li id = "user_create" style="display:none;"><a href="{% url 'createuser:index' %}">Superuser Tasks</a></li>
                <li id = "user_create_bar" class="divider" style="display:none;"></li>
                <li id = "change_pass"><a href = "{% url 'backadmin:user_changepass' %}">Change password</a></li>
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#extURLModal">Upgrade</a>
        </li>
		<li style="padding-right:10px"><a href="{% url 'backadmin:user_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	</ul>

</nav>
<div class = "container">
{% block content %}
    <h1>No content set</h1>
{% endblock %}
</div>
<!-- Modal -->
<div id="extURLModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter URL</h4>
      </div>
      <div class="modal-body">
        <p>Paste the URL of the .tgz file!</p>
        <input class="form-control" type="text" id="url_text" />
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal" onclick="upgrade()">Use local file instead</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="upgrade_ext()">Upgrade</button>
      </div>
    </div>

  </div>
</div>
</body>
    <meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="/static/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <script>
    $.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});
    $(function() {
    	$.getJSON("{% url 'backadmin:return_permissions' %}", function(response) {
        	var obj = JSON.parse(JSON.stringify(response));
            if (obj.user_name == '_null_') {
                window.location.href = "/backadmin/";
            }
            document.getElementById("username").innerHTML = obj.user_name;
        	if (obj.down_to_usb) {
        		var x = document.getElementById("usb_down");
        		if (x != null) {
            		x.style.display="table-cell";
            	}
        	}
        	if (obj.up_from_usb) {
        		var x = document.getElementById("usb");
        		if (x != null) {
            		x.style.display="inline-table";
                var y = document.getElementById("apply_changes");
                if (y != null) {
                  y.style.display="inline-table";
                }
                var z = document.getElementById("usb_span");
                if (z != null) {
                  z.style.display="inline-table";
                }
            	}
        	}
        	if (obj.up_from_dev) {
        		var x = document.getElementById("dev_up");
        		if (x != null) {
            		x.style.display="inline-table";
            	}
        	}
        	if (obj.delete_files) {
        		var x = document.getElementById("delete_all");
        		if (x != null) {
            		x.style.display="inline-table";
            	}
            var y = document.getElementById("files_table");
            if (y != null) {
              t_r = y.getElementsByTagName("tr");
              table_rows = Array.from(t_r);
              for (row in table_rows) {
                cells = table_rows[row].getElementsByTagName("td");
                Array.from(cells).forEach(function(element) {
                  if (element.getAttribute('name') == 'delete_cell') {
                      element.style.display = "inline";
                  }
                });
              }
            }
          }
        	if (obj.ssid_mod) {
        		document.getElementById("ssid_mod_bar").style.display="block";
            	document.getElementById("ssid_mod").style.display="initial";
        	}
        	if (obj.captive_mod) {
        		document.getElementById("captive_mod_bar").style.display="block";
        		document.getElementById("captive_mod").style.display="initial";
        	}
        	if (obj.superuser_tasks) {
        		document.getElementById("user_create_bar").style.display="block";
            document.getElementById("user_create").style.display="initial";
        	}
          if(obj.global_vars_mod) {
            document.getElementById('change_vars_bar').style.display="block";
            document.getElementById('change_vars').style.display="initial";
          }
        });
        var t = window.location.pathname;
        switch(t) {
            case '/upload/new/':
                document.getElementById("file_upload").setAttribute("class", "active");
                break;
             case '/ssidmod/modify_ssid/':
                document.getElementById("ssid_mod").setAttribute("class", "active");
                break;
             case '/changecaptive/':
                document.getElementById("captive_mod").setAttribute("class", "active");
                break;
             case '/changevariables/':
                document.getElementById("change_vars").setAttribute("class", "active");
                break;
             case '/createuser/new/':
                document.getElementById("user_create").setAttribute("class", "active");
                break;
             case '/backadmin/change_pass/':
                document.getElementById("change_pass").setAttribute("class", "active");
                break;
        }

    });
    function upgrade() {
        var t = document.createElement("form");
        t.setAttribute("method", "post");
        t.setAttribute('action', "{% url 'backadmin:upgrade' %}");
        var f = document.createElement("input");
        f.setAttribute("type", "file");
        f.setAttribute("accept", ".tgz");
        f.setAttribute("hidden", "true");
        f.id = "upgrade_select";
        t.appendChild(f);
        f.onchange = function() {
        $.ajax({
            type: 'post',
            url: "{% url 'backadmin:upgrade' %}",
            data: document.getElementById('upgrade_select').files[0],
            processData: false,
            contentType: false,
            success: function(data) {
                alert(JSON.parse(JSON.stringify(data)).msg);
            }
        });
        };
        $("body").append(t);
        t.style.display="None";
        $('#upgrade_select').trigger('click');
        /*
        $.getJSON("{% url 'backadmin:upgrade' %}", function (response) {
            var obj = JSON.parse(JSON.stringify(response));
            alert(obj.msg);
        });*/
    };

    function upgrade_ext() {
        $.ajax({
            type: 'post',
            url: "{% url 'backadmin:upgrade_ext' %}",
            data: document.getElementById("url_text").value,
            processData: false,
            contentType: false,
            success: function(data) {
                alert(JSON.parse(JSON.stringify(data)).msg);
            }
        });
    }
    </script>
    <noscript><link rel="stylesheet" href="/static/css/jquery.fileupload-ui-noscript.css"></noscript>
</html>
