[Unit]
Description=API server
#After=network.target
Before=udev-finish.service

[Service]
Type=simple
ExecStart=/opt/opencdn/CDN/apiserver -http ":9000"
PIDFile=/tmp/opencdn/apiserver.pid
Restart=always

[Install]
WantedBy=multi-user.target
