{% extends "backadmin_base.html" %}

{% block content %}
		<h1 align="CENTER">Permission Change Portal</h1>
		<div class="container">
			<div class="table-responsive">
				<form action="update_data/" method="POST" name="permissions" id="permissions">
				{% csrf_token %}
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>User</th>
								{% for permission in permission_list %}
									<th>{{ permission }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for user, values in permission_dict.items %}
							<tr align="CENTER">
								<td>{{ user }}</td>
								{% for perm, val in values.items %}
									<td align="center"> 
										{% if val %}
											<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-{{ user }}-{{ perm }}">
											<input type="checkbox" class="mdl-checkbox__input" id="checkbox-{{ user }}-{{ perm }}" name="{{ user }}_{{ perm }}" checked>
											</label>
										{% else %}
											<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-{{ user }}-{{ perm }}">
											<input type="checkbox" class="mdl-checkbox__input" id="checkbox-{{ user }}-{{ perm }}" name="{{ user }}_{{ perm }}">
										</label>
										{% endif %}
									</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</form>
			</div>
			<div align="CENTER">
				<btn class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="sendData()">Update Permissions <i class = "glyphicon glyphicon-ok"></i></btn>
			</div>
		</div>
	<script src="/static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/css/material.indigo-pink.min.css">
	<script defer src="/static/js/material.min.js"></script>
	<!-- Bootstrap styles -->
	<script>
	function sendData() {
		document.getElementById("permissions").submit();
	}
	</script>
{% endblock %}