{% extends "backadmin_base.html" %}

{% block content %}
	<div class="container">
		<table class="table table-striped ">
			<thead>
				<tr>
					<th>User</th>
					<th></th>
				</tr>
			</thead>
			{% for user in users %}
			<form action = "../delete/" method = "POST">
			{% csrf_token %}
			<tbody>
				<tr>
					<td>{{ user.username }}</td>
					<input name = 'delete_me' value = '{{ user.pk }}' type="hidden">
					<td><input class = "btn btn-danger" type="submit" value="Delete User"></td>
				</tr>
			</tbody>
			</form>
			{% endfor %}
		</table>
	</div>
	<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}