{% extends "backadmin_base.html" %}

{% block content %}	
	<div class="container">
		<form id = "ssid_form" action = "../modify_ssid/" method = "POST">
		{% csrf_token %}
			<h2>Enter new SSID</h2>
			<font size="3em">
				<input class="form-control" type="text" id="ssid" name="ssid_name" placeholder = "Currently: {{ ssid_name }}"><hr />
			</font>
			<div id="password-optional">
				<link rel="stylesheet" href="/static/css/material.indigo-pink.min.css">
				<script defer src="/static/js/material.min.js"></script>
				<input class="form-control" type="password" id="password" name="password" placeholder = "Enter optional password"><br />
				<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="show_pass"> Show Password
				<input type="checkbox" id="show_pass" class="mdl-checkbox__input"></label><hr />
			</div>
			<div class="form-group">
				<label for="apselect">Select Mode:</label>
				<select class="form-control" id="apselect" name="apselect" onchange="verify()">
					<option value="apmode">AP Mode</option>
					<option value="hostmode">Host Mode</option>
				</select>
			</div>
			<button class = "btn btn-primary" onclick = "submit_values()">Change SSID</button> 
		</form>
		{% if result_text %}
		<div class="row" align="CENTER">
			<span class = "{{ outcome }}">
				{{ result_text }}
			</span>
		</div>
		{% endif %}
	</div>
	<script src="/static/js/bootstrap.min.js"></script>
	<script>
	$(function() {
		$('#password-optional').hide();
	});
	function submit_values() {
		var z = document.getElementById('ssid').value;
		if (z.length < 1) {
			alert('Please enter SSID');
			return;
		}
		document.getElementById('ssid_form').submit();
	}
	function verify() {
		var z = document.getElementById('apselect').value;
		if (z == 'hostmode') {
			$('#password-optional').show();
		}
		else {
			$('#password-optional').hide();
		}
	}
	document.getElementById("show_pass").onclick = function() {
		if ( this.checked ) {
			document.getElementById("password").setAttribute("type", "text");
		}
		else {
			document.getElementById("password").setAttribute("type", "password");
		}
	}
	</script>

{% endblock %}